.weatherOnHoursSwiper {
    width: 100%;
    overflow: auto;
}

.weatherOnHour {
    padding: 15px;
}

.weatherOnHour__time {
    font-size: calc(10px + 1vmin);
}

.weatherOnHour__icon {
    font-size: calc(10px + 2vmin);
}

.weatherOnHour__temp {
    font-size: calc(10px + 2vmin);
}